[Desktop Entry]
Encoding=UTF-8
Name=Sandrocoin Core
Comment=Connect to the Sandrocoin P2P Network
Comment[de]=Verbinde mit dem Sandrocoin peer-to-peer Netzwerk
Comment[fr]=Sandrocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Sandrocoin, eşten eşe kriptografik sanal para birimi
Exec=sandrocoin-qt %u
Terminal=false
Type=Application
Icon=sandrocoin128
MimeType=x-scheme-handler/sandrocoin;
Categories=Office;Finance;
