
## <summary>policy for sandrocoin</summary>


########################################
## <summary>
##	Transition to sandrocoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sandrocoin_domtrans',`
	gen_require(`
		type sandrocoin_t, sandrocoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sandrocoin_exec_t, sandrocoin_t)
')


########################################
## <summary>
##	Execute sandrocoin server in the sandrocoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sandrocoin_initrc_domtrans',`
	gen_require(`
		type sandrocoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, sandrocoin_initrc_exec_t)
')


########################################
## <summary>
##	Search sandrocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sandrocoin_search_lib',`
	gen_require(`
		type sandrocoin_var_lib_t;
	')

	allow $1 sandrocoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read sandrocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sandrocoin_read_lib_files',`
	gen_require(`
		type sandrocoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, sandrocoin_var_lib_t, sandrocoin_var_lib_t)
')

########################################
## <summary>
##	Manage sandrocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sandrocoin_manage_lib_files',`
	gen_require(`
		type sandrocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, sandrocoin_var_lib_t, sandrocoin_var_lib_t)
')

########################################
## <summary>
##	Manage sandrocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sandrocoin_manage_lib_dirs',`
	gen_require(`
		type sandrocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, sandrocoin_var_lib_t, sandrocoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an sandrocoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sandrocoin_admin',`
	gen_require(`
		type sandrocoin_t;
		type sandrocoin_initrc_exec_t;
		type sandrocoin_var_lib_t;
	')

	allow $1 sandrocoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, sandrocoin_t)

	sandrocoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 sandrocoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, sandrocoin_var_lib_t)

')

