[Unit]
Description=Sandrocoin's distributed currency daemon
After=network.target

[Service]
User=sandrocoin
Group=sandrocoin

Type=forking
PIDFile=/var/lib/sandrocoind/sandrocoind.pid
ExecStart=/usr/bin/sandrocoind -daemon -pid=/var/lib/sandrocoind/sandrocoind.pid \
-conf=/etc/sandrocoin/sandrocoin.conf -datadir=/var/lib/sandrocoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
